@import url('https://fonts.googleapis.com/css2?family=BioRhyme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0; padding: 0;
    list-style: none;
    text-decoration: none;
}

body, html{
    font-family: 'Nunito', sans-serif;
}



.reservation{
    width: 100%;
    height: auto;
    background: rgba( 0, 0, 0, 0.8 );
    position: relative;
    display: none;
    transition: .7s ease-in;
    -webkit-transition: .7s ease-in;
    -moz-transition: .7s ease-in;
    -ms-transition: .7s ease-in;
    -o-transition: .7s ease-in;
}


@keyframes left {
    from{
        transform: translateX(-100%);
        -webkit-transition: 1s ease-in;
        -moz-transition: 1s ease-in;
        -ms-transition: 1s ease-in;
        -o-transition: 1s ease-in;
        transition: 1s ease-in;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
}
    to{
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transition: 1s ease-in;
        -webkit-transition: 1s ease-in;
        -moz-transition: 1s ease-in;
        -ms-transition: 1s ease-in;
        -o-transition: 1s ease-in;
}
}
.reservation .container{
    top: 0;
    left: 0;
    z-index: 99999;
    position: fixed;
    background: rgba( 0, 0, 0, 0.8 );
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/breakfast-ge44f4f0a4_1920.jpg);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: .1rem;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding-left: 2rem;
    padding-right: 2rem;
    -webkit-border-radius: .1rem;
    -moz-border-radius: .1rem;
    -ms-border-radius: .1rem;
    -o-border-radius: .1rem;
    padding-top: 1rem;
    height: 100vh;
    width: 100%;
    margin: auto;
    animation: left 1s linear;
    -webkit-animation: left 1s linear;

    display: grid;
    place-items: center;
}
.reservation .title h1{
    color: #fff;
}
.mail{
    display: flex;
    gap: 1.2rem;
    width: 100%;
}

.form h1{
    font-size: 3rem;
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
}



.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.2rem;
    width: 80%;
    margin: auto;
}

input, textarea{
    width: 100%;
    padding: 1rem;
    border-radius: 0.1rem;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    -ms-border-radius: 0.1rem;
    -o-border-radius: 0.1rem;
    background: transparent;
    border: 2px solid #27a860;
    resize: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
}
textarea{
    height: 150px;
}
textarea::-webkit-scrollbar{
    display: none;
}

input[type="date"],
input[type="time"] {
  color: #fff;
}

input::placeholder, textarea::placeholder{
    color: #fff;
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    opacity: 0.8;
}
input:focus, textarea:focus{
    border: 2px solid #192a56;
}

input[type="date"]::placeholder,
input[type="time"]::placeholder {
  color: #fff;
}

.row__btn{
    display: flex;
    gap: 1rem;
}
button, .btn{
    font-size: 1.3rem;
    cursor: pointer;
    background: #192a56;
    color: #fff;
    letter-spacing: 1px;
    border: none;
    padding: 10px 20px;
    margin-bottom: 1rem;
    transition: .7s ease-in;
    -webkit-transition: .7s ease-in;
    -moz-transition: .7s ease-in;
    -ms-transition: .7s ease-in;
    -o-transition: .7s ease-in;
}

.btn{
    background: #000;
    border: 1px solid #000;
}
.btn:hover,button:hover {
    background: transparent;
    border: 1px solid #27a860;
}
.btn:hover{
    background: transparent;
}


@media (max-width: 600px){
    .form{
        width: 100%;
    }
    .mail{
        flex-direction: column;
    }
    .reservation .container{
        width: 100%;
        overflow: scroll;
    }
}


@media (max-width: 425px){
    .form h1{
        font-size: 1.8rem;
    }
}

@media (max-width: 350px){
    input::placeholder, textarea::placeholder{
        font-size: .7rem;
    }
}